# =====================================================================
# Основные зависимости приложения (Core App Dependencies)
# =====================================================================
fastapi==0.111.0
uvicorn==0.30.1
requests==2.32.3
pydantic==2.7.4
pytz==2024.1

# =====================================================================
# Работа с базами данных (Database Storage)
# =====================================================================
psycopg2-binary==2.9.9
sqlalchemy==2.0.31

# =====================================================================
# Инструменты тестирования (Testing Framework & Tools)
# =====================================================================
pytest==8.2.2
pytest-mock==3.14.0
faker==25.8.0
allure-pytest==2.16.0
allure-python-commons==2.16.0
pytest-check==2.8.0
pytest-rerunfailures==14.0
playwright==1.44.0